backend/node_modules
backend/data
backend/.env
backend/package-lock.json
python/.env
.env
/python/venv
prompt
venv/
/python/omi/__pycache__
/BetterOmiApp
/.expo
python/omi/__pycache__/decoder.cpython-311.pyc
python/omi/__pycache__/bluetooth.cpython-311.pyc
python/omi/__pycache__/__init__.cpython-311.pyc
/node_modules
